screenbit_ENV=dev

# SSL on production
SSL_CERTIFICATE_DIR=

# Postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_NAME=
POSTGRES_PASSWORD=

# Redis
REDIS_HOST=redis
REDIS_PORT=9131

# cashe info
MEMCACHED_LOCATION=screenbit_memcached:11211

## Server URLs
SCREENBIT_API_URL=
SCREENBIT_API_HOST=
SCREENBIT_API_PORT=

# API Authentication
API_CLIENT_ID=
API_CLIENT_SECRET=
API_SECRET_KEY=!*mahtehqcq&o4c(5)m@&sc2(3u3dgf*nfn4p9edt&t$9&f9lt

# Google API
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Facebook
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

# Stripe
## STRIPE_LIVE_PUBLIC_KEY=
## STRIPE_LIVE_SECRET_KEY=
## STRIPE_TEST_PUBLIC_KEY=
## STRIPE_TEST_SECRET_KEY=


## STRIPE_WEBHOOK_ENDPOINT_SECRET=
## STRIPE_LIVE_MODE=

# Email (SMTP)
## EMAIL_HOST_USER=
## EMAIL_HOST_PASSWORD=
